<div class="login-box">
    <div clas="form-box">
        <table>
            <td>
                <tr>
<p>hi</p>
                </tr>
                <tr>
                    <form class="form-box">
                        <input class="input-box" type="text">
                        <input class="input-box" type="text">
                        <button class="login_button">Submit</button>
                    </form>
                </tr>
            </td>
        </table>
        
    </div>
  
</div>
